/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('../fonts/nunito-sans-v5-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v5-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-italic - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
    url('../fonts/nunito-sans-v5-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v5-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* yeseva-one-regular - latin */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
    url('../fonts/yeseva-one-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/yeseva-one-v14-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 83px;
  background: #131313;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 22px;
}

.header-nav a {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  margin-right: 47.09px;
}

.header-nav a:nth-child(1),
a:nth-child(8) {
  color: #E3B873;
}

.header-nav a:hover {
  color: #E3B873;
}

.color-brown {
  color: #E3B873;
}

.margin-left {
  margin-left: 67px;
}

.button {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  border-radius: 2px;
  color: #FFFFFF;
}

.header-btn {
  width: 161px;
  height: 37px;
  padding: 0px;
  border: 0px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  text-transform: uppercase;
}

.intro-btn {
  width: 207px;
  height: 51px;
  padding: 0px;
  border: 1px solid #FFFFFF;
  margin-right: 20px;
  box-sizing: border-box;
  background: none;
}

.intro-btn:hover {
  width: 207px;
  height: 51px;
  padding: 0px;
  border: 0px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/image_4_3.jpg");
  background-size: cover;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 707px;
}

.intro-wrap {
  width: 1440px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.intro-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 676.11px;
  max-height: 305px;
  margin-left: 134px;
}

.intro-text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.intro-info {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 41px;
}

.container-projects {
  background: black;
  width: 100%;
  position: relative;
  z-index: 1;
}

.projects {
  width: 1171px;
  margin: 0 auto;
  padding-bottom: 416px;
}

.projects-header {
  padding-top: 107px;
  padding-bottom: 52.68px;
}

.project-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-nav a {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 60.5px;
  color: rgba(255, 255, 255, 0.3);
  padding-bottom: 6.68px;
}

.project-nav a:hover {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
  padding-bottom: 5.68px;
}

.progects-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.progects-half {
  width: 50%;
}

.project-img {
  width: 679px;
  height: 482px;
}

.project-txt {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.project-about {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.project-params {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project-params div {
  width: 50%;
  margin-bottom: 34px;
}

.project-params h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.project-params p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.project-slider {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
}

.project-slider button:first-child {
  width: 41px;
  height: 13px;
  margin-right: 29px;
  padding: 0;
  border: none;
  background: url(../images/arrow-left.svg);
}

.project-slider button:not(:first-child):not(:last-child) {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  margin-right: 17.54px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.project-slider button:last-child {
  width: 41px;
  height: 13px;
  margin-left: 11.46px;
  padding: 0;
  border: none;
  background: url(../images/arrow-right.svg);
}

.control {
  width: 100%;
  background: #FFFFFF;
}

.control-wrapper {
  width: 817px;
  margin: 0 auto;
}

.control-container {
  margin-top: -324px;
  z-index: 2;
  position: relative;
}

.control-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.control-head h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.control-head hr {
  border: 0;
  width: 32px;
  height: 1.54px;
  background: #E3B873;
}

.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12.79px;
  margin-bottom: 31.21px;
}

.camera hr:first-child {
  margin-right: 9.47px;
}

.camera hr:last-child {
  margin-left: 7.76px;
}

.camera-img {
  color: #E3B873;
}

.video {
  width: 100%;
  height: 434px;
}

.video-bg {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/control.jpg");
}

.video-btn {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E3B873;
  color: white;
  padding: none;
  border: none;
  border-radius: 50%;
}

.control-info {
  width: 681px;
  margin: 0 auto;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin-bottom: 91.5px;
}

.control-info hr {
  margin-top: 62.5px;
  margin-bottom: 34.46px;
  border: 0;
  width: 55px;
  height: 1.54px;
  background: #E3B873;
}

.request {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.request-item {
  display: flex;
  flex-direction: column;
}

.request-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.request-input-text {
  padding: 8px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.request-input-text::placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #000000;
}

.request-submit {
  width: 200px;
  height: 51px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  background: #E3B873;
  border: none;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.checkbox-center {
  margin-top: 39px;
  margin-bottom: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-label {
  display: flex;
  align-items: center;
  margin-right: 9px;
}

.request-checkbox {
  display: none;
}

.request-checkmark {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 1px;
  cursor: pointer;
  background: #E3B873;
}

.request-checkbox:checked~.request-checkmark:after {
  content: "\2714";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

.request-text {
  cursor: pointer;
  margin-left: 9px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}

.types {
  width: 100%;
  background: #FFFFFF;
}

.types-wrapper {
  max-width: 1236px;
  margin: 0 auto;
}

.types-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.types-head h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}

.types-img hr {
  border: 0;
  width: 32px;
  height: 1.54px;
  background: #E3B873;
}

.types-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.img-margin {
  margin-left: 9px;
  margin-right: 13px;
}

.types-block {
  width: 392px;
  height: 661px;
}

.types-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pic {
  width: 392px;
  height: 421px;
  z-index: 1;
  position: relative;
}

.type-list-block {
  background-color: #fff;
  width: 330px;
  height: 286px;
  position: relative;
  z-index: 2;
  margin-top: -130px;
  margin-left: 31px;
}

.type-list-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 31px 25px 32px 36px;
}

.type-list-display h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin-bottom: 13px;
}

.list {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}

.list li {
  list-style-type: disc;
}

.price {
  width: 228px;
  height: 54px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  z-index: 3;
  position: relative;
  margin-top: -15px;
}

.price p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 17px;
}

.call-wrap {
  max-width: 1236px;
  margin: 0 auto;
}

.call-container {
  margin-top: 124px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.call-bg-img {
  background-image: url(../images/back_03.jpg);
  background-repeat: no-repeat;
  width: 803px;
  height: 645px;
}

.call-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 473.62px;
  max-width: 374.81px;
  max-height: 473.62px;
  margin-left: 249px;
  margin-top: 77px;
}

.call-left-item {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.call-right {
  width: 506px;
  height: 509px;
  background-color: black;
}

.call-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41.76px;
  height: 41.76px;
  margin-right: 17px;
  background-color: #E3B873;
  color: white;
  border-radius: 50%;
  border: 8px solid white;
  flex-shrink: 0;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.call-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 8px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  max-width: 316px;
  max-height: 39px;
}

.call-request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  height: 454px;
  max-width: 408px;
  max-height: 454px;
  margin: 28px 49px 27px;
}

.call-right-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.special-center {
  align-self: center;
}

.call-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.call-checkbox-text {
  cursor: pointer;
  margin-left: 9px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
}

.call-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.call-input-text {
  width: 408px;
  background: none;
  padding: 8px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.call-input-text::placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}

.call-submit {
  width: 213px;
  height: 51px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E3B873;
  border: none;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.special-end {
  align-self: flex-end;
}

.pig {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.pig p {
  width: 344px;
  height: 47px;
  margin-left: 41px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.pig-btn {
  width: 85px;
  height: 85px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E3B873;
  color: white;
  padding: none;
  border: none;
  border-radius: 50%;
}

.pig-img {
  width: 72px;
  height: 72px;
}

.clients-wrapper {
  width: 1236px;
  height: 1068px;
  margin: 0 auto;
}

.clients-margin {
  margin-top: 71px;
}

.clients-desc {
  margin-top: -12px;
  margin-bottom: 63px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.feedback-column {
  width: 376px;
  height: 428px;
  display: flex;
  flex-direction: column;
}

.client-head {
  display: flex;
  margin-bottom: 20px;
}

.client-photo {
  border-radius: 50%;
}

.client-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.feedback-text {
  max-width: 324px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #959595;
}

.feedback-about {
  margin-top: 63px;
  width: 293.75px;
  height: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E3B873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.feedback-about p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 15px;
}

.map-back {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url(../images/back_map.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.questions {
  margin-top: -222.66px;
  background: #000000;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  width: 883px;
  height: 446px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.questions-wrap {
  width: 520px;
  height: 376.52px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.qestion-input-text {
  width: 100%;
  background: none;
  padding: 8px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.question-input-text::placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}

.questions h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.questions-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 516px;
  margin: 0 auto;
}

.row-width {
  width: 231px;
}

.question-width {
  width: 516px;
}

.adress {
  margin-top: 52px;
  width: 589px;
  height: 51px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.social {
  margin-top: 26px;
  margin-bottom: 43.29px;
  width: 71px;
  display: flex;
  justify-content: space-between;
}

.map-size {
  width: 925px;
  height: 465px;
  padding-bottom: 50px;
}

.map-size iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 133px;
  background: #131313;
}